<div class="list-container">
    <div class="task-list">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Angular word cenzor
        </div>
        <img src="assets/cenzor.PNG" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Angular word cenzor</h4>
          <button type="button" class="btn btn-success" [routerLink]="[ '/work/cenzor/' ]"  >details</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Angular user list
        </div>
        <img src="assets/user-list.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Angular user list</h4>
          <button type="button" class="btn btn-success" [routerLink]="[ '/work/user-list']"  >details</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Angular task list
        </div>
        <img src="assets/task-list.PNG" class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title"> Angular task list</h4>
          <button type="button" class="btn btn-success" [routerLink]="[ '/work/task-list' ]"  >details</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Angular phone book
        </div>
        <img src="assets/phonebook.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Angular phone book</h4>
          <button type="button" class="btn btn-success" [routerLink]="[ '/work/phone-book' ]" >details</button>
        </div>
      </div>
    </div>
  </div>
  
  
